html {
    max-width: 900px;
    margin: 0 auto;
    background-color: ;
}

header nav {
    text-align: center;
}

header h3 {
    text-align: center;
}

hr {

}

footer {
    text-align: center;
}

.blogpost a {
    text-decoration: none;
}
