html {
    font-family: helvetica;
}

body {
    margin: 0;
    background: white;
}

.menubar {
    background: yellow;
    color: rgb(178, 178, 178); 
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 5000;
}

.menubar #name {
    margin: 0;
    margin-left: 50px;
    display: inline;
}

.menubar #separatorone {
    border: 0px;
    border-style: solid;
    height: 1px;
    background-color: black;
    margin-top: 7px;
}

.title {
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    width: 100%;
    margin-top: 45px;
    background: grey;
    text-align: center;
}

.bodystuff {
    width: 100%;
    background: blue;
    margin-top: 0px;

}