<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title>{{page.title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/materialize/css/materialize.css"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
<script src="/materialize/js/materialize.js" type="text/javascript" charset="utf-8"></script>
<link href="{{ site.baseurl }}font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<script src="/scripts/main.js" type="text/javascript" charset="utf-8"></script>
