<div class="navbar-fixed">
	<nav class="top-nav green lighten-1">
		<div class="container">
			<div class="nav-wrapper">
				<a href="/index.html" class="brand-logo">Tony Wu</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

				<ul class="right hide-on-med-and-down">
					<li><a href="/index.html">About</a></li>
					<li><a href="/blog.html">Blog</a></li>
					<li><a href="/projects.html">Projects</a></li>
					<li><a href="/assets/resume.pdf">Résumé</a></li>
					<li><a href="#">Github</a></li>
					<li><a href="#">LinkedIn </a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/index.html">About</a></li>
					<li><a href="/blog.html">Blog</a></li>
					<li><a href="/projects.html">Projects</a></li>
					<li><a href="/assets/resume.pdf">Résumé</a></li>
					<li><a href="#">Github</a></li>
					<li><a href="#">LinkedIn </a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
