html {
    font-family: helvetica;
}

body {
    margin: 0;
    background: #f2f2f2;
}

/* =========================================
                MENUBAR
==========================================*/
.menubar {
    clear: both;
    background: #3e454f;
    color: rgb(178, 178, 178);
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 5000;
    text-align: center;
}

.menubar .namebox #name {
    margin: 0;
    position: relative;

}

.menubar .namebox .span {
    color: white;
    font-weight: lighter;
}

.menubar .namebox {
    width: 125px;
    height: 45px;
    margin-left: 50px;
    background-color:#3e454f;
    color:white;
    position: relative;
    float: left;
}

.menubar .linkspan1 {
    position:relative; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;  
    color: white;
    vertical-align: middle;
}

.menubar .namebox:hover  {
    background-color: #788495;
}

.menubar h1 a:link {
    text-decoration: none;
}

.menubar h1 a:visited {
    text-decoration: none;
}

/* =========================================
                TITLE
==========================================*/
.title {
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    width: 100%;
    margin-top: 45px;
    background: #ebebeb;  
    color: #333333;
}

.title #lineone {
    position: relative;
    font-weight: bold;
    top: 0px;
    font-size: 50px;
    text-align: center;
}

.title #linetwo {
    position: relative;
    font-weight: lighter;
    top: 0px;
    font-size: 15px;   
}

.title .linetwobox {
    text-align: center;
    width: 300px;
    margin: auto;
}

.title #separatortwo {
    border: 0px;
    border-style: solid;
    height: 1px;
    background-color: #dadada;
    margin-top: 7px;
}

/* =========================================
            NAVIGATION BAR
==========================================*/
nav ul {
    margin-top: 20px;
    padding: 0 0 0 15px;
    text-align: center;
}

nav ul li {
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a:link {
    text-decoration: none;
    color: grey;
}

nav ul li a:visited {
    text-decoration: none;
    color: #818181;  
}

nav ul li a:hover {
    color: #cccaca;   
}
/* =========================================
                BODY
==========================================*/
body {
    text-align: center;
}

footer {
}
  

/* =========================================
                TEST
==========================================*/

/*
.namebox, .twitter {
}

.menubar .twitter {
    width: 100px;
    height: 45px;
    background-color: #3e454f;
    color: white;
    position: relative;
}
.menubar .twitter:hover {
    background-color: #788495;   
}



.menubar .linkspan2 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    vertical-align: middle;
    z-index: 1;
    color: white;
}
*/
