html {
    font-family: helvetica;
}

body {
    margin: 0;
    background: #f2f2f2;
}


.menubar {
    background: #262f3d;
    color: rgb(178, 178, 178);
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 5000;
}

.menubar .namebox #name {
    margin: 0;
    left: 20px;
    position: relative;

}

.menubar .namebox .span {
    color: white;
    font-weight: lighter;
}

.menubar .namebox {
    width: 150px;
    height: 45px;
    margin-left: 50px;
    background-color:#262f3d;
    color:white;
    position: relative;
}

.menubar .linkspan1 {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;   
}

.menubar .linkspan1 {
    color: white;   
}

.menubar .namebox:hover  {
    background-color: #333f51;

}
.title {
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    width: 100%;
    margin-top: 45px;
    background: white;
    text-align: center;
}

.title #lineone {
    position: relative;
    font-weight: bold;
    top: 0px;
    font-size: 50px;
}

.title #linetwo {
    position: relative;
    font-weight: lighter;
    top: 0px;
    font-size: 30px;   
}

.title #separatortwo {
    border: 0px;
    border-style: solid;
    height: 1px;
    background-color: #e0dddd;
    margin-top: 7px;
}

nav ul {
    margin-top: 20px;
    padding: 0 0 0 15px;
    text-align: center;
}

nav ul li {

    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a:link {
    text-decoration: none;
    color: grey;
}

nav ul li a:visited {
    text-decoration: none;
    color: #818181;  
}

nav ul li a:hover {
    color: #cccaca;   
}

.row {
    clear: both;
}

.column {
    background: #333;
    border-radius: 5px;
    color: white;
    padding: 10px .5%;
    float: left;
    margin: .5%;
    width: 31%;
}

footer {
    clear: both;
}
    
